html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
h1, h2, p {
    margin: 0;
    padding: 0;
}
.wrap{
    min-height: 100vh;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    background-color: #121212;
    color: #fff;
}
header{
    display:flex;
    width: 100%;
    height: 208px;
    color: white;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 40.41px;
}
 .title-text-container p, .title-text-container h1{
    margin: 0;
}
.title-text-container h1{
    font-size: 2.68rem;
    font-weight: 800;
}
.title-text-container p a{
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-style: bold;
}

.title-text-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

search-input{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    width: 342px;
    height: 38px;
    border: 1px solid white ;
}
.search-container{
    display: flex;
    align-items: center;
    width: 462px;
    position: absolute;
    left: 44px;
    bottom: -20px;
    height: 38px;
}
.search-bar{
    margin: 0;
    width: 342px;
    padding-left:41px;
    height: 100%;
    background-color: #2E2E2F;
    border: none;
    color: #A5A5A5;
    font-size: 0.875rem;
    border-radius: 6px 0 0 6px;
}
.search-container img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 13px;
    color: #9CA3AF;
}
.btn{
    margin: 0px;
    background: #4B4B4B;
    color: #fff;
    width: 120px;
    height: 100%;
    font-size: 0.875rem;
    border-radius: 0 6px 6px 0;
    border: none;
    cursor: pointer;
}
main{   
     padding: 1px;
     padding-bottom: 20px;
    
}
main .starting-state{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8.75px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main.main .starting-text{
    color: #2E2E2F;
    font-size: 1.125rem;
    font-weight: 700;
}
.card{
    margin: 20.59px  44px 0;
    padding:1px ;
    min-height: 168px;
    border-bottom: 1px solid #2C2C2C;
    padding-bottom: 20.59px;
    box-sizing: border-box;
}
.card:last-child{
    border: none;
}
.card img{
    float: left;
    height: 147px;
    width: 99px;
    margin-right: 21px;
}
.card h2{
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 11px;
}
.title{
    display: flex;
    align-items: center;
}
card .star-baseline{
    align-self: baseline;
}
.card .star-icon{
    width: 12px;
    height: 12px;
    margin: 0 4px;
    
}
.title-section{
    display: flex;
    align-items: baseline;
    vertical-align: baseline;
}
.rating{
    font-size: 0.75rem;
    align-self: baseline;
    /* padding-left: 5px; */
}
.card .desc{
    font-size: 0.875rem;
    font-weight: 400;
    color: #A5A5A5;
    font-style: regular;
}
.tags{
    display: flex;
    gap: 20px;
    margin: 0 0 8px;
}
.tags .add-to-watchlist{
    width: 16px;
    height: 16px;
    margin-right: 5px;
   cursor: pointer;
}
.tags p{
    font-size: 0.75rem;
}
.not-found-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.not-found-text{
    width: 321px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    color: #787878;
}


/* whishlist page */
.empty-watchlist-container {
    margin-top: 212px;   
}

main .empty-watchlist-heading{
    font-size: 1.125rem;
    color: #787878;
    text-align: center;
    margin: 0;
}
.empty-watchlist-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 15px;
}
.empty-watchlist-container div p{
    font-size: 0.875rem;
}
.plus-icon{
    width: 18px;
    height: 18px;
    cursor: pointer;
}